html, body {
    margin: 0;
    padding: 0;
    font-family: 'Gentium Book Basic', serif;
}

#container {
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #5c3608;
    font-size: 20px;;
}


#search {
    display: flex;
    padding: 20px;
    background-color: E2D3B5;
}

#search label {
    font-size: 30px;
    font-weight: bold;
    margin-right: 15px;
}

#results {
    display: block;
    padding: 10px;
}

#results .name {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: #E2D3B5;
    margin-bottom: 10px;
    list-style-type: none;
}